{% extends 'myapp/base.html' %}
{% load humanize %}

{% block content %}


  <div class="container" style="margin-bottom: 100px">

   <h2>อัพเดตเลขพัสดุ</h2>
  <p>ORDERID: {{orderid}} </p>
  
  <form method="POST">
    {% csrf_token %}

    <div class="form-group">
      <label for="trackingnumber">เลขพัสดุ / EMS / ลงทะเบียน</label>
      <input type="text" class="form-control" id="trackingnumber" name="trackingnumber">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  
  </form>

  </div>
<br>

  <div class="container">
  <h3>ข้อมูลการจัดส่ง</h3>
  <p>
    ชื่อผู้รับ: {{order.name}}<br>
    เบอร์โทร: {{order.tel}}<br>
    ที่อยู่จัดส่ง: {{order.address}}<br>
    {% if order.shipping == 'ems' %}
        รูปแบบการจัดส่ง: EMS
    {% else %}
        รูปแบบการจัดส่ง: ลงทะเบียน
    {% endif %}<br>

    {% if order.payment == 'transfer' %}
        ชำระผ่าน: โอนเงินเข้าบัญชีธนาคาร
    {% else %}
        ชำระผ่าน: เก็บเงินปลายทาง
    {% endif %}<br>
    หมายเหตุ: {{other}}<br>
  </p>

</div>

      
<div class="container">
  <h2>สินค้าทั้งหมด</h2>
  <p>รายการสินค้าที่สั่งซื้อ</p>            
  <table class="table">
    <thead>
      <tr>
        <th>รหัส</th>
        <th>สินค้า</th>
        <th style="text-align: right;">ราคา</th>
        <th style="text-align: right;">จำนวน</th>
        <th style="text-align: right;">รวมยอด</th>
      </tr>
    </thead>
    <tbody>

    {% for pd in odlist %}
        <tr>
          <td>{{pd.productid}}</td>
          <td>{{pd.productname}}</td>
          <td style="text-align: right;">{{pd.price|intcomma}}</td>
          <td style="text-align: right;">{{pd.quantity|intcomma}}</td>
          <td style="text-align: right;" >{{pd.total|intcomma}}</td>
        </tr>
    {% endfor %}
    <tr>
      <td><h4>Total</h4></td>
      <td></td>
      <td></td>
      <td style="text-align: right;"><h4>{{count|intcomma}}</h4></td>
      <td style="text-align: right;"><h4>{{total|intcomma}}</h4></td>
    </tr>
 
    </tbody>
  </table>
<br>

<p>ค่าส่ง: {{order.shipcost|intcomma}} บาท</p>
<h3>รวมยอดโอนทั้งหมด: {{total|add:order.shipcost|intcomma}} บาท</h3>


</div>


{% endblock content %}